<!-- originally created for shift_scheduler project-->
<template name="bizEmployeeRow">
    <tr>
        <td class="tdname">
            {{> booModalEditEmployee this}} {{position}}
        </td>
        {{#each isoWeekDays}}
        <td class="text-center">
            <span class="visible-xs-inline visible-sm-inline data">
                <a href="#">
                    {{> trDateFromDayCode dayCode}}
                    {{> displayEvent dayCode}}
                </a>
            </span>
            <a href="http://project-ezy.com/roster/add_time.php?ed=06%20Oct%2014&amp;uid=21"
               rel="ibox" class="tda"> {{! Edit Time | Day Off | 7:30am-1:00pm F<br>6:00pm-8:30pm P}}
            </a>
        </td>
        <td>{{! dailyTimeTotal employee=.. dayCode=dayCode}}</td>
        {{/each}}
        <td><span class="visible-xs-inline visible-sm-inline data">{{! Total hours}}</span>{{! 11:0 }}</td>
        <td><span class="visible-xs-inline visible-sm-inline data">{{! Total}} </span>{{! $142 }}</td>
    </tr>
</template>