<!-- originally created for shift_scheduler project-->
<template name="business_view">
    <div class="containone">
        <table class="table-bordered table-striped table-condensed cf no-more-tables" id="no-more-tables">
            <thead class="cf">
            <tr>
                <th class="bg-primary text-center">
                    <a href="#" class="add-employee btn btn-primary">Add Employee</a>
                </th>
                {{#each isoWeekDays}}
                <th colspan="2" class="bg-primary text-center">
                    <a href="#" class="manage_daily_event" data-day-code="{{dayCode}}">
                        {{thDateFromDayCode dayCode}} {{ displayEvent_1 dayCode}}
                    </a><br>
                </th>
                {{/each}}
                <th class="bg-primary">Week</th>
                <th class="bg-primary">Total</th>
            </tr>
            </thead>

            <tbody>

            {{#each employeesList}}
            {{> bizEmployeeRow }}
            {{/each}}

            </tbody>
            <tfoot>
            <tr class="bg-primary">
                <td class="text-center">
                    {{> booModalOccupationsEdit}}
                </td>
                <td colspan="14" class="text-center">
                    {{> occupations_list}}
                </td>
                <td colspan="2" class="text-right">Grand Total: ${{grand_total}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

</template>