<!-- originally created for shift_scheduler project-->
<template name="business_view">
    <div class="containone">

        <table class="table-bordered table-striped table-condensed cf no-more-tables" id="no-more-tables">
            <thead class="cf">
            <tr>
                <th class="bg-primary">
                    {{> booModalAddEmployee}}
                </th>
                {{#each isoWeekDays}}
                <th colspan="2" class="bg-primary text-center">

                    <a href="#" class="manage_daily_event">
                        {{thDateFromDayCode dayCode}}
                    </a><br>
                </th>
                {{/each}}
                <th class="bg-primary"></th>
                <th class="bg-primary"></th>
            </tr>
            </thead>

            <tbody>

            {{#each employeesList}}
            {{> bizEmployeeRow }}
            {{/each}}

            </tbody>
            <tfoot>
            <tr class="bg-primary">
                <td>
                    {{> occupations_edit}}
                </td>
                <td colspan="15">
                    {{> occupations_list}}
                </td>
                <td>Grand Total: $44532{{grand_total}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

</template>