<!-- originally created for shift_scheduler project-->
<template name="bizEmployeeRow">
    <tr data-employee-id="{{_id}}">
        <td class="tdname">
            {{! > booModalEditEmployee this}}
            <a class="edit-staff">
                {{name}} &nbsp;
            </a>
            <strong>{{position}}</strong>
        </td>
        {{#each isoWeekDays}}
            {{#if isInApprovalMode}}
                {{> tdShiftApproval employeeId=../_id dayCode=dayCode}}
            {{else}}
                {{> tdShift employeeId=../_id dayCode=dayCode}}
            {{/if}}
        {{/each}}

        {{#if isInApprovalMode}}
            <td class="weekly-time text-right" data-value="{{weeklyTimeTotal 'approved'}}">{{ weeklyTimeTotal 'approved'}}</td>
            <td class="weekly-salary text-right" data-value="{{weeklyPayment 'approved'}}">
                ${{weeklyPayment 'approved'}}</td>
        {{else}}
            <td class="weekly-time text-right" data-value="{{weeklyTimeTotal}}">{{ weeklyTimeTotal}}</td>
            <td class="weekly-salary text-right" data-value="{{weeklyPayment}}">
                ${{weeklyPayment}}</td>
        {{/if}}
    </tr>
</template>
