<!-- originally created for shift_scheduler project-->
<template name="bizEmployeeRow">
    <tr data-employee-id="{{_id}}">
        <td class="tdname">
            {{! > booModalEditEmployee this}}
            <a class="edit-staff">
                {{name}} &nbsp;
            </a>
            <span
                    style="text-decoration: underline">{{position}}</span>
        </td>
        {{#each isoWeekDays}}
            {{> tdShift employeeId=../_id dayCode=dayCode}}
        {{/each}}
        <td class="weekly-time text-right" data-value="{{weeklyTimeTotal}}">{{ weeklyTimeTotal}}</td>
        <td class="weekly-salary text-right" data-value="{{weeklyPayment}}">
            ${{weeklyPayment}}</td>
    </tr>
</template>
