<!-- originally created for shift_scheduler project-->
<template name="bizEmployeeRow">
    <tr data-employee-id="{{_id}}">
        <td class="tdname">
            {{! > booModalEditEmployee this}}
            <a class="edit-staff">
                {{name}} &nbsp;
            </a>
            <span
                    style="text-decoration: underline">{{position}}</span>
        </td>
        {{#each isoWeekDays}}
            {{> tdShift employeeId=../_id dayCode=dayCode}}
        {{/each}}
        <td class="weekly-time" data-value="{{weeklyPaymentTotal}}">{{ weeklyTimeTotal}}</td>
        <td class="weekly-salary" data-value="{{weeklyPaymentTotal}}">
            ${{weeklyPaymentTotal}}</td>
    </tr>
</template>

<template name="bizrowWeeklyTime">
    {{calc}}
</template>