<template name="main">

    {{#if isAdminUser}}
    {{> admin_view}}
    {{/if}}

    {{#if isBusinessUser}}
    {{> business_view}}
    {{/if}}

    {{#if isStaffUser}}
    {{>staff_view}}
    {{/if }}

    {{#if isRootUser}}
    {{> root_view}}
    {{/if }}

    {{#if currentUser }}
    {{else}}
        {{# if noAdminUser}}
            <p class="text-center" >greetings. there s no admin user yet, so someone has to claim email</p>
        {{ else }}
            <p class="text-center"> welcome to 'shifts scheduler' app. please login. </p>
        {{/ if }}
    {{/if}}
</template>
