/* CSS Document */
body{ background-image:url(../../images/body_back.jpg); 
		background-repeat:repeat-x;
		background-position:left top;
		text-align:justify; 
		font-size:12px; line-height:22px;
		}
ul{ margin:0px!important; padding:0px!important;}
.logo{ margin-top:20px;}
.navigation{ margin-top:66px;}
.navigation ul{ float:right;}
.navigation ul li{ display:inline; margin:0px 10px;}
.navigation ul li a{ font-family:Arial, Helvetica, sans-serif;
					font-size:11px; color:#333333; 
					text-transform:uppercase;}
.banner{ margin-top:61px;}
.contant_part{ margin-top:75px;}
.contact_form{ padding-bottom:30px;}
.rs{background-image:url(../../images/bottom_line.png); background-position:bottom center; background-repeat:no-repeat; padding-bottom:30px;}
.senior{ margin-top:87px;}
h6{line-height:22px;}
h5{line-height:22px;}
.input_f{ width:100%; height:33px; background:#F8F8F8; border:1px solid #CCCCCC; border-radius:3px;}
.input_t{ width:100%; min-height:159px; background:#F8F8F8; border:1px solid #CCCCCC; border-radius:3px;}
.btns{ background:#F8F8F8; border:1px solid #CCCCCC; padding:7px 38px; margin:10px 0px; text-transform: uppercase; border-radius:3px; color: #666666; font-size:13px; }
.btns:hover{ background-color:#999999; font-family:}
.co li{ list-style:none; margin-right:30px; border-bottom:#CCCCCC 1px solid; padding:10px 0px;}
.co{ width:225px; float:left; margin:0px; padding:0px;}
.co li img{ float:left; margin-top:5px; margin-right:5px;}
.contact_f h4{ color:#999999;}
.follow li{ list-style:none; padding:18px 0px;} 
.bootom_footer{ background-color:#CCCCCC; padding:20px 0px; color:#999999;}
.footer_nav li{ display:inline; color:#999999;  font-weight:bold;}
.footer_nav li a{color:#999999; margin:0px 10px; font-weight:bold;}