<template name="staff_view">
    <div class="containone">
<table class="table-bordered table-striped table-condensed cf no-more-tables" id="no-more-tables">
        <thead class="cf">
        <tr>
            <th class="bg-primary text-center">
                Employee
            </th>
            {{#each isoWeekDays}}
            <th colspan="2" class="bg-primary text-center">
                <span>{{thDateFromDayCode dayCode}} {{#if dailyEvent dayCode}}({{DailyEventName dayCode}}){{/if}}</span>
            </th>
            {{/each}}
            <th colspan="2" class="bg-primary">Total</th>
        </tr>
        </thead>

        <tbody>

        {{#each employeesList}}
        {{> staffEmployeeRow }}
        {{/each}}

        </tbody>
        <tfoot>
        <tr class="bg-primary">
            <!--td class="text-center">
                {{> booModalOccupationsEdit}}
            </td-->
            <td colspan="17" class="text-center">
                {{> occupations_list}}
            </td>
        </tr>
        </tfoot>
        </table>

    </div>
</template>
