.input-helper-button-out {
  position: absolute;
  z-index: 500;
  top: 50%;
  color: #ddd;
}

.input-helper-button-in {
  position: absolute;
  right: -0.2em;
  top: -1.1em;
}

.input-helper-button-in:hover {
  color: black;
}