<!-- originally created for shift_scheduler project-->
<template name="admin_view">
    <h2> greetings Admin. </h2>
    <div class="row text-center">
        <a href="#" class="add-business-button btn btn-primary">Add Business Account</a>
    </div>
    <div class="row text-center large" style="margin-bottom: 6px;">
        <div class="col-md-2"><strong>email</strong></div>
        <div class="col-md-2"><strong>contactName</strong></div>
        <div class="col-md-2"><strong>businessName</strong></div>
        <div class="col-md-2"><strong>address</strong></div>
        <div class="col-md-2"><strong>phone</strong></div>
    </div>
    <div class="interlaced">

    {{#each businesses}}

    <div class="row">
        {{> business_list_item}}
    </div>
    {{/each}}
    </div>
</template>
<template name="business_list_item">
    <div class="col-md-2">{{email}}</div>
    <div class="col-md-2">{{contactName}}</div>
    <div class="col-md-2">{{businessName}}</div>
    <div class="col-md-2">{{address}}</div>
    <div class="col-md-2">{{phone}}</div>
    <div class="col-md-2">
        <a class="btn btn-info notes pull-left">notes</a>
        <a data-toggle="modal" href="#{{_id}}" class="btn btn-primary pull-right">Edit</a>
        {{> business_item_edit this}}

    </div>
</template>
