<!-- originally created for shift_scheduler project-->
<template name="admin_view">
    <h2> greetings Admin. </h2>
    <div class="row text-center">
        <a href="#" class="add-business-button btn btn-primary">Add Business Account</a>
    </div>
    <div class="row text-center large" style="margin-bottom: 6px;">
        <div class="col-md-2"><strong>account email</strong></div>
        <div class="col-md-2"><strong>contactName</strong></div>
        <div class="col-md-2"><strong>businessName</strong></div>
        <div class="col-md-2"><strong>phone</strong></div>
        <div class="col-md-2"><strong>status</strong></div>
    </div>
    <div class="interlaced">

    {{#each businesses}}
    <div class="row text-center" >
        {{> business_list_item}}
    </div>
    {{/each}}
    </div>
</template>

