<!-- originally created for shift_scheduler project-->
<template name="twoButtonsDialog">
    <div class="modal" id="{{id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> modal_content_header modal_title=modal_title}}
                <div class="modal-body">
                    {{> UI.contentBlock}}
                </div>
                {{> modal_content_footer_two_buttons submit_title=submit_title cancel_title=cancel_title}}
            </div>
        </div>
    </div>
</template>

<template name="modal_content_header">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{modal_title}}</h4>
    </div>
</template>

<template name="modal_content_footer_two_buttons">
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn cancel">{{cancel_title}}</a>
        <a href="#" class="btn btn-primary submit">{{submit_title}}</a>
    </div>
</template>


